<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "header".}}
    <script src ="./vendor/js/bootstrap.js"></script>
    <script src ="./vendor/js/jquery-3.6.0.js" type="text/javascript"></script>

    
    <script src ="./vendor/js/jquery.dataTables.min.js"  type="text/javascript"></script>
    <script src ="./js/getdata.js"></script>

    <script src ="./vendor/js/jquery.dataTables.js"></script>
    <script src ="./vendor/js/dataTables.editor.min.js"></script>
    <script src ="./vendor/js/dataTables.select.min.js"></script>
    <script src ="./vendor/js/dataTables.buttons.min.js"></script>


    <link href="./vendor/js/jquery.dataTables.css" rel="stylesheet">
    <link href="./css/index.css" rel="stylesheet">

</head>
<body>


    <div class=”col_2_3_right”>  
        <div class=”index_viewport”>  
            <table id=att_table cellpadding=”0″ cellspacing=”0″ border=”0″ width=”100%”>  
                <thead>  
                    <tr> 
                        <th>DATE</th>  
                        <th>NAME</th>  
                        <th>EMPID</th>  
                        <th>ARRIVE?</th>  
                        <th>REMARK</th>  
                    </tr>  
                </thead>  
            </table>  
        </div>  
    </div>  


    {{template "footer".}}



</body>



</html>